asm/tplabo1/tplabo1/Debug/*
asm/tplabo1/tplabo1/Release/*
asm/tplabo1/tplabo1.atsuo

asm/tp_labo_letras/tp_labo_letras/Debug/*
asm/tp_labo_letras/tp_labo_letras/Release/*
asm/tp_labo_letras/tp_labo_letras.atsuo

asm/led/led/Debug/*
asm/led/led/Release/*
asm/led/led.atsuo

asm/to_labo_test_timer_8/to_labo_test_timer_8/Debug/*
asm/to_labo_test_timer_8/to_labo_test_timer_8/Release/*
asm/to_labo_test_timer_8/to_labo_test_timer_8.atsuo

asm/tp_labo_test_interruption/tp_labo_test_interruption/Debug/*
asm/tp_labo_test_interruption/tp_labo_test_interruption/Release/*
asm/tp_labo_test_interruption/tp_labo_test_interruption.atsuo

asm/tp_labo_test_timer/tp_labo_test_timer/Debug/*
asm/tp_labo_test_timer/tp_labo_test_timer/Release/*
asm/tp_labo_test_timer/tp_labo_test_timer.atsuo

*.workspace